        h1      {
                    color: rgb(155,70,150);
                    font-family: Georgia, Times, serif;
                    font-size: 2em;
                }
                
        h2      {
                    color: rgb(10,50,100);
                    font-family: Georgia, Times, serif;
                    font-size: 1.25em;
                }
        p       {
                    color: rgb(0,0,185);
                    font-family: arial, verdana, sans-serif;
                    font-size: .75em;
                }
        #footer {
                    font-family: arial, verdana, sans-serif;
                    font-size: .5em;
                }
        .smaller{
                    font-size: .65em;    
                }
        